rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }

    function isParticipant(chatId) {
      return isAuthenticated() && (request.auth.uid in get(/databases/$(database)/documents/chats/$(chatId)).data.participantIds);
    }

    // Users collection
    match /users/{userId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated();
      allow update: if isAuthenticated() && request.auth.uid == userId;
      
      match /contacts/{contactId} {
        allow read, write: if isAuthenticated() && request.auth.uid == userId;
      }
    }

    // Chats collection
    match /chats/{chatId} {
      allow read: if isAuthenticated() && (request.auth.uid in resource.data.participantIds);
      allow create: if isAuthenticated();
      allow update: if isAuthenticated() && (request.auth.uid in resource.data.participantIds);
      
      // Messages sub-collection
      match /messages/{messageId} {
        allow read: if isParticipant(chatId);
        allow create: if isParticipant(chatId);
        allow update: if isParticipant(chatId);
      }
    }
    
    match /{document=**} {
      allow read, write: if isAuthenticated();
    }
  }
}